@import "base";
.list {
  background: $theme;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: $primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  word-break: break-word;
  background: $theme;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

strong,
b {
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

figure {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
textarea {
  padding: 0;
  font: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

input,
textarea {
  padding: 0;
  border: 0;
  outline: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px $theme inset;
}

img {
  display: block;
  max-width: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: $nav-width + $gap * 2;
  margin-left: auto;
  margin-right: auto;

  a {
    display: block;
    line-height: $header-height;
    color: $content;
  }
}

.logo,
.menu {
  margin-left: $gap;
  margin-right: $gap;
}

.logo {
  a {
    font-size: 24px;
    font-weight: 700;
  }
}

.menu {
  display: flex;
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;

  li {
    & + li {
      margin-left: $gap;
    }
  }

  a {
    font-size: 16px;
  }
}

.profile {
  #wrapper {
    padding: 100px 40px 0px;
    max-width: 800px;
    margin: 0 auto;
  }

  #header {
    padding-bottom: 40px;
    text-align: center;
    position: relative;
  }

  #avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
    font-style: normal;
  }
}

.main {
  position: relative;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  max-width: $main-width + $gap * 2;
  margin-left: auto;
  margin-right: auto;
  padding: $gap;
}

.page-header {
  margin-bottom: 24px;

  h1 {
    font-size: 40px;
  }
}

.pagination {
  display: flex;

  a {
    color: $theme;
    font-size: 13px;
    line-height: 36px;
    background: $primary;
    border-radius: calc(36px / 2);
  }

  .prev {
    padding-left: 16px;
    padding-right: 18px;
  }

  .next {
    margin-left: auto;
    padding-left: 18px;
    padding-right: 16px;
  }
}

.first-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  margin-bottom: $header-height;

  .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    h2 {
      font-size: 40px;
    }
  }

  .entry-content {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 16px;
    -webkit-line-clamp: 3;
  }

  .entry-footer {
    font-size: 14px;
  }
}

.post-entry {
  position: relative;
  margin-bottom: $gap;
  padding: $gap;
  background: $entry;
  border-radius: $radius;
  transition: transform 0.1s;

  &:hover {
    transform: scale(0.99);
    box-shadow: 0 0 10px #00000047;
    transition: .1s;
  }

  &:active {
    transform: scale(0.96);
  }
}

.tag-entry .entry-content,
.tag-entry .entry-footer {
  display: none;
}

.entry-header {
  h2 {
    font-size: 24px;
  }
}

.entry-content {
  margin-top: 8px;
  margin-bottom: 8px;
  color: $secondary;
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.entry-footer {
  color: $secondary;
  font-size: 13px;
}

.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.post-header {
  margin-top: 24px;
  margin-bottom: $content-gap;
}

.post-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $tertiary;
  font-size: 40px;
  transform: translateX(-2px);
}

.post-meta {
  color: $secondary;
  font-size: 14px;
}

.post-content {
  color: $content;

  h1 {
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 40px;
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  a {
    box-shadow: 0 1px 0 $primary;

    code {
      margin-left: 0;
      margin-right: 0;
      border-radius: 0;
      box-shadow: 0 -1px 0 $primary inset;
    }
  }

  del {
    text-decoration: none;
    background: linear-gradient(to right, $primary 100%, transparent 0) 0 50% / 1px 1px repeat-x;
  }

  li {
    margin-top: 5px;

    p {
      margin-bottom: 0;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  dt {
    width: 25%;
    font-weight: 700;
  }

  dd {
    width: 75%;
    margin-left: 0;
    padding-left: 10px;
  }

  table {
    margin-bottom: 32px;

    th {
      font-size: 14px;
      text-align: left;
    }

    &:not(.highlighttable) {
      td {
        code {
          &:only-child {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }

  ul {
    pre {
      margin-left: $gap * -2;
    }
  }

  .highlight {
    pre {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    span {
      background: transparent !important;
    }
  }

  .highlighttable {
    table-layout: fixed;

    td {
      &:first-child {
        width: 40px;
      }

      .linenodiv {
        padding-right: 0 !important;
      }

      .highlight {
        pre {
          code {
            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }

  code {
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px 6px;
    font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
    font-size: 0.78em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
  }

  pre {
    code {
      display: block;
      margin-left: 0;
      margin-right: 0;
      padding: var(--gap);
      color: rgba(255, 255, 255, 0.8);
      background: transparent;
      border-radius: 0;
    }
  }

  blockquote {
    margin: 0 0 0 $gap * -1;
    padding: 0 0 0 21px;
    border-left: 3px solid $primary;
  }

  hr {
    height: 1px;
    margin-top: 56px;
    margin-bottom: 56px;
    background: $tertiary;
    border-top: 0;
    border-bottom: 0;
  }

  iframe {
    max-width: 100%;
  }
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.post-content p,
.post-content ul,
.post-content ol,
.post-content dl {
  margin-bottom: $content-gap;
}

.post-content ul,
.post-content ol {
  padding-left: 20px;
}

.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 10px;
}

.post-content table th,
.post-content table:not(.highlighttable) td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid $border;
}

.post-content .highlight,
.post-content pre {
  margin-left: $gap * -1;
  margin-right: $gap * -1;
  margin-bottom: 32px;
  background: $hljs-bg !important;
  border-radius: $radius;
}

.post-content .highlighttable td .linenodiv pre,
.post-content .highlighttable td .highlight {
  margin-bottom: 0;
}

.post-footer {
  margin-top: 56px;
}

.post-tags {
  li {
    display: inline-block;

    & + li {
      margin-left: 3px;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    color: $secondary;
    font-size: 14px;
    font-weight: 800;
    background: $code-bg;
    border-radius: 4px;

    &:before {
      content: "# ";
      font-size: 16px;
      font-weight: 700;
      padding-right: 5px;
      color: $blue-ocean;
    }

    &:hover {
      background: $tertiary;
      box-shadow: 0 0 10px #5b5d6740;
    }
  }
}

.footer {
  max-width: $main-width + $gap * 2;
  margin-left: auto;
  margin-right: auto;
  padding: (($footer-height - $gap) / 2) $gap;
  color: $secondary;
  font-size: 12px;
  text-align: center;
  line-height: 24px;

  span {
    margin-left: 1px;
    margin-right: 1px;
  }

  a {
    color: inherit;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
}

.not-found {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 160px;
  font-weight: 700;
}
